#header {
    display: flex;
    justify-content: center;
}

#header * {
    margin: 10px;
}

#headline:hover, #headlinne.focus {
    color: gray;
}

#headingMenu {
    position: relative;
    /* display: inline-block; */
    display: flex;
    justify-content: center;
}

#boardChooser {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#boardChooser div {
    display: block;
}

#boardChooser div:hover {
    color: gray;
}


#board {
   color: black;
   border: black;
   border-width: 2px;
   border-style: solid;
   float: left;
}

.field {
    border: black;
    border-width: 2px;
    border-style: solid;
}

#column {
    float: left;
}

.circle {
    position: absolute;
    border-radius: 50%;
    background: white;
}

h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#donate-button-container {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);
}

