#board {
   color: black;
   border: black;
   border-width: 2px;
   border-style: solid;
   float: left;
}

.field {
    border: black;
    border-width: 2px;
    border-style: solid;
}

#column {
    float: left;
}

.circle {
    position: absolute;
    border-radius: 50%;
    background: white;
}

h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
